.Main
  .Main__group-info
    .chatgroup
      .chatgroup__box
        .chatgroup__box--tittle
          test
        .chatgroup__box--member
          Menber:masa
      .chatgroup__edit
        =link_to "#" , class: "chatgroup__edit--btn" do
          Edit
  .Main__message-list
    .group-contents
      .group-contents__box
        .group-contents__box--name
          masa
        .group-contents__box--times
          2019/11/20(Wed) 17:43:01
      .group-contents__comment
        おはよう！
      .group-contents__box
        .group-contents__box--name
          masa
        .group-contents__box--times
          2019/11/20(Wed) 17:43:34
      .group-contents__comment
        今日は夜から雨
  .Main__message-form